@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@500&family=Montserrat:ital,wght@1,400;1,900&family=Raleway:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
}

h1{
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

p{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: bold;
    line-height: 35px;
    text-align: justify;
}

article{
    margin-bottom: 30px;
}

header {
        
    display:block;
    background:#286af0;
    padding:10px 0px;
    text-align: center;
}

section {
    width: 70%;
    background: #ccc;
    overflow: auto;
    padding: 30px 15px 60px 15px; 
    margin: 0px auto;
    box-shadow: -10px 10px 15px #888888, 10px 10px 15px #888888;
}

nav ul{
    list-style-type: none;
}

nav li a{
    line-height: 2.5em;
     display: block;
    float: left;
    width: 33.33%;
    height: 40px;
    background-color: green;
    text-align: center;
      font-family: 'Bebas Neue', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    box-shadow: 0px 5px 5px #888888, 0px 5px 5px #888888;
}

nav a{
    color: #DAA520;
    padding: 0 2 .5em;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

nav a:hover{
    background: #6B8E23;
}

footer {
    position: relative;
    margin-top: -50px;
    height: 60px; 
    padding:5px 0px;
    clear: both;
    background: #286af0;
    text-align: center;
    color: #fff;
}

footer p{
    text-align: center;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: inline-flex;
    padding: 0;
    width: 100%;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

/*.slider img {
 width: 400%;
    
}*/

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.centrado{
    margin: 10px auto;
    display: block;
}




